---
import { styledInput } from '../styles.css'
import Box from '../../Box/Box.astro'
import Text from '../../Text/Text.astro'
interface Props {
  type: 'tel' | 'email' | 'text'
  name: string
  label: string
  id: string
  value?: string
  placeholder?: string
  required?: boolean
  disabled?: boolean
  class?: string
  isWithLabel?: boolean
}

const {
  type,
  placeholder,
  name,
  label,
  id,
  value,
  required,
  disabled,
  class: className = '',

  isWithLabel = true,
} = Astro.props
---

<Box direction="column" gap={8} justify="start">
  {
    isWithLabel && (
      <Box ps={4}>
        <label for={id}>
          <Text variant="text-regular" color="neutral_darkest">
            {label}
          </Text>
        </label>
      </Box>
    )
  }
  <input
    aria-label={label}
    type={type}
    placeholder={placeholder}
    name={name}
    id={id}
    value={value}
    required={required}
    disabled={disabled}
    class={`${styledInput} ${className}`}
  />
</Box>
