---
import { Image } from 'astro:assets'

import Box from '@components/Box/Box.astro'
import Button from '@components/Button/Button.astro'
import Text from '@components/Text/Text.astro'

import heroImage from '@assets/widokowe_crop.jpg'

import styles from './Hero.module.css'
---

<Box
  direction="column"
  justify="center"
  align="flex-start"
  gap={[48, 80]}
  width="full"
  overflow="hidden"
  py={[48, 80]}
  class={styles.heroWrapper}
>
  <Image
    alt="Birds eye view of the facility"
    src={heroImage}
    loading="eager"
    quality={75}
    widths={[320, 400, 600, 800, 1024, 1200, 1600, 1920, 2400]}
    sizes="100vw"
    class={styles.heroImage}
    fetchpriority="high"
  />
  <Box
    direction={['column', 'row']}
    justify="space-between"
    align="flex-start"
    px={[20, 80]}
    gap={[20, 80]}
  >
    <Text variant="heading-1" class={styles.heroCopyElement}>
      Opieka, komfort i wspólnota dla seniorów
    </Text>
    <Box
      direction="column"
      justify="flex-start"
      align="flex-start"
      gap={[24, 32]}
      class={styles.heroCopyElement}
    >
      <Text variant="body-medium">
        W naszym rodzinnym domu opieki oferujemy możliwość spędzenia kilku dni,
        tygodni, jak również kilku lat. Wykwalifikowany personel z długoletnim
        stażem dokłada wszelkich starań, aby sprostać indywidualnym
        oczekiwaniom. Staramy się mobilizować pensjonariuszy do wspólnej
        aktywności, pragniemy pomóc, uspokoić i wsłuchać się w ich potrzeby oraz
        stworzyć przyjazną atmosferę.
      </Text>
      <Box direction="row" justify="flex-start" gap={16} width="full">
        <Button variant="primary" href="#kontakt">Umów się</Button>
        <Button variant="outline" href="#oferta">Dowiedz się</Button>
      </Box>
    </Box>
  </Box>
</Box>
