---
import Box from "../../components/Box/Box.astro";
import Image from "../../components/Image/Image.astro";
import Text from "../../components/Text/Text.astro";
import Button from "../../components/Button/Button.astro";
import heroImage from '../../assets/widokowe_crop.jpg'
import {heroCopyElement} from "./styles.css";
import Picture from "astro/components/Picture.astro";
---

<Box direction="column" justify="center" align="start" gap={[48, 80]} width="100%" maxWidth="100%" overflow="hidden"
     pb={[48, 80]} mt={84}>
    <Box width="100%">
        <Image alt="Birds eye view of the facility" height={663} width={1920} src={heroImage} responsive="fullWidth"
               objectFit="cover"
               maxHeight="50vh" loading="eager" fetchPriority="high"
        />
        <!--<Picture alt="Birds eye view of the facility" height={663} width={2160} src={heroImage}>-->
        <!--    <source media="(min-width: 1024px)" srcset={heroImage}/>-->
        <!--</Picture>-->
    </Box>
    <Box direction={["column", "row"]} justify="space-between" align="start" px={[20, 80]} gap={[20, 80]}>
        <Text variant="heading-1" class={heroCopyElement}>
            Opieka, komfort i wspólnota dla seniorów
        </Text>
        <Box direction="column" justify="start" align="start" gap={[24, 32]} class={heroCopyElement}>
            <Text variant="text-medium">
                W naszym rodzinnym domu opieki oferujemy możliwość spędzenia kilku dni, tygodni, jak również kilku lat.
                Wykwalifikowany personel z długoletnim stażem dokłada wszelkich starań, aby sprostać indywidualnym
                oczekiwaniom. Staramy się mobilizować pensjonariuszy do wspólnej aktywności, pragniemy pomóc, uspokoić i
                wsłuchać się w ich potrzeby oraz stworzyć przyjazną atmosferę.
            </Text>
            <Box direction='row' justify="start" gap={16} width="100%">
                <Button variant="primary">Umów się</Button>
                <Button variant="outline">Dowiedz się</Button>
            </Box>
        </Box>
    </Box>
</Box>
