---
import { Menu } from 'lucide-astro'

import Box from '@components/Box/Box.astro'
import Button from '@components/Button/Button.astro'

import logoMobile from '@assets/logo-image.svg'
import logoDesktop from '@assets/logo.svg'

import styles from './Header.module.css'
---

<Box
  position="fixed"
  zIndex="50"
  bgColor="neutral-white"
  shadow="shadow-md"
  px={[16, 64]}
  py={20}
  width="full"
  justify="center"
  align="center"
  class={styles.header}
>
  <Box
    width="full"
    direction="row"
    justify="space-between"
    align="center"
    class={styles.headerContent}
  >
    <a href="/" aria-label="clickable logo go to homepage">
      <Box width="fit" class={styles.headerLogoDesktop}>
        <img
          src={logoDesktop.src}
          alt="Logo"
          loading="eager"
          width="100%"
          height="100%"
        />
      </Box>
      <Box width="fit" class={styles.headerLogoMobile}>
        <img
          src={logoMobile.src}
          alt="Logo"
          loading="eager"
          width="100%"
          height="100%"
        />
      </Box>
    </a>
    <Box width="fit" class={styles.desktopMenu} gap={8}>
      <Button variant="ghost" href="#opieka">Opieka</Button>
      <Button variant="ghost" href="#historia">Historia</Button>
      <Button variant="ghost" href="#oferta">Oferta</Button>
      <Button variant="ghost" href="#cennik">Cennik</Button>
      <Button variant="primary" href="#kontakt">Skontaktuj się z nami</Button>
    </Box>
    <Button
      variant="iconGhost"
      class={styles.mobileMenuHamburger}
      id="mobile-menu-hamburger"
      aria-label="mobile menu hamburger button"
      aria-expanded={false}
      aria-controls="mobile-menu"
    >
      <Menu />
    </Button>
    <Box
      direction="column"
      justify="center"
      align="flex-start"
      gap={16}
      class={styles.mobileMenu}
      position="absolute"
      zIndex="50"
      width="full"
      height="100vh"
      bgColor="neutral-white"
      shadow="shadow-md"
      px={20}
      py={16}
      id="mobile-menu"
    >
      <Button variant="ghost" href="#opieka">Opieka</Button>
      <Button variant="ghost" href="#historia">Historia</Button>
      <Button variant="ghost" href="#oferta">Oferta</Button>
      <Button variant="ghost" href="#cennik">Cennik</Button>
      <Button variant="primary" href="#kontakt">Skontaktuj się z nami</Button>
    </Box>
  </Box>
</Box>
